[Unit]
Description=PulseCraft Java Spring Boot Telemetry Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/pulsecraft/backend
ExecStart=/usr/bin/java -jar -XX:+UseG1GC -XX:MaxRAMPercentage=75.0 /opt/pulsecraft/backend/pulsecraft-backend-1.0.0.jar
SuccessExitStatus=143
TimeoutStopSec=20
Restart=always
RestartSec=5

# Security hardening
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
